---
import { Icon } from "astro-icon/components";

import ContentLink from "@/components/content/link.astro";
import { mobileNavId } from "@/components/navigation/constants";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import { createSingletonResource } from "@/lib/keystatic/resources";

const locale = (Astro.currentLocale as Locale | undefined) ?? defaultLocale;

const navigation = await createSingletonResource("navigation", locale).read();
---

<div class="px-4 pb-6 lg:hidden" data-mobile-nav hidden id={mobileNavId}>
	<ul class="grid gap-y-2 text-[#555]" role="list">
		{
			navigation.data.links.map((item) => {
				switch (item.discriminant) {
					case "link": {
						return (
							<li>
								<ContentLink class="transition hover:text-[#212529]" link={item.value.link}>
									{item.value.label}
								</ContentLink>
							</li>
						);
					}

					case "menu": {
						return (
							<li>
								<details class="group">
									<summary class="inline-flex cursor-pointer items-center gap-x-1.5">
										{item.value.label}
										<Icon
											aria-hidden="true"
											class="size-4 shrink-0 group-open:rotate-180"
											name="lucide:chevron-down"
										/>
									</summary>
									<ul class="ml-4 mt-2 grid gap-y-1" role="list">
										{item.value.items.map((item) => {
											switch (item.discriminant) {
												case "link": {
													return (
														<li>
															<ContentLink
																class="transition hover:text-[#212529]"
																link={item.value.link}
															>
																{item.value.label}
															</ContentLink>
														</li>
													);
												}

												default: {
													return null;
												}
											}
										})}
									</ul>
								</details>
							</li>
						);
					}

					default: {
						return null;
					}
				}
			})
		}
	</ul>
</div>
