---
import { Icon } from "astro-icon/components";

import ImageCarousel from "@/components/content/image-carousel.astro";
import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { reader } from "@/lib/content/reader";
import { createI18n } from "@/lib/i18n";

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;
const { t } = await createI18n(locale);

const page = await reader().singletons.indexPage.readOrThrow();

const documentTitle = t("IndexPage.meta.title");
const { hero, links, quote } = page;
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent class="pb-12 pt-6">
		<h1 class="sr-only">Bruckner Online</h1>

		<PageSection>
			<ImageCarousel slides={hero.slides} title={t("IndexPage.carousel.title")} />
		</PageSection>

		<PageSection>
			<blockquote class="flex items-center gap-x-8 bg-white py-8 pl-8 pr-12 text-lg shadow-xl">
				<Icon aria-hidden="true" class="size-12" name="lucide:quote" />
				{quote}
			</blockquote>
		</PageSection>

		<PageSection>
			<div class="grid grid-cols-3 gap-6">
				{
					links.map((link, index) => {
						const colors = ["bg-brand-orange", "bg-brand-red", "bg-brand-blue"];
						const bg = colors[index % 3];

						return (
							<a
								class:list={[
									bg,
									"grid gap-y-2 px-6 py-4 text-white transition hover:-translate-y-1",
								]}
								href={`/${link.page}`}
							>
								<strong>{link.title}</strong>
								<div>{link.summary}</div>
							</a>
						);
					})
				}
			</div>
		</PageSection>
	</MainContent>
</PageLayout>
