---
import NavMenu from "@/components/navigation/nav-menu.astro";
import NavMenuItem from "@/components/navigation/nav-menu-item.astro";
import NavMenuLink from "@/components/navigation/nav-menu-link.astro";
import NavMenuPopover from "@/components/navigation/nav-menu-popover.astro";
import NavMenuTrigger from "@/components/navigation/nav-menu-trigger.astro";
import Nav from "@/components/navigation/navigation.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import { createI18n } from "@/lib/i18n";

const { t } = await createI18n((Astro.currentLocale ?? defaultLocale) as Locale);

const links: Array<
	| {
			kind: "menu";
			label: string;
			children: Array<{ kind: "link"; href: string; label: string; reload?: boolean }>;
	  }
	| { kind: "link"; href: string; label: string; reload?: boolean }
> = [
	{ kind: "link", href: "/forschung/kopisten", label: t("KopistenNav.links.home") },
	{
		kind: "menu",
		label: t("KopistenNav.links.project"),
		children: [
			{ kind: "link", href: "/forschung/kopisten", label: t("KopistenNav.links.about") },
			{
				kind: "link",
				href: "/forschung/kopisten/einleitung",
				label: t("KopistenNav.links.introduction"),
			},
			{
				kind: "link",
				href: "/forschung/kopisten/benutzerhinweise",
				label: t("KopistenNav.links.userguide"),
			},
			{
				kind: "link",
				href: "/forschung/kopisten/methodik",
				label: t("KopistenNav.links.methodology"),
			},
			{
				kind: "link",
				href: "/forschung/kopisten/nachtrag",
				label: t("KopistenNav.links.authors-note"),
			},
		],
	},
	{
		kind: "menu",
		label: t("KopistenNav.links.catalogue"),
		children: [
			{
				kind: "link",
				href: "/forschung/kopisten/gesamtbestand",
				label: t("KopistenNav.links.toc"),
			},
			{
				kind: "link",
				href: "/forschung/kopisten/primaerquellen",
				label: t("KopistenNav.links.primary-sources"),
			},
			{
				kind: "link",
				href: "/forschung/kopisten/sekundaerquellen",
				label: t("KopistenNav.links.secondary-sources"),
			},
			{
				kind: "link",
				href: "/forschung/kopisten/ausserhalb_wiens",
				label: t("KopistenNav.links.not-vienna"),
			},
			{
				kind: "link",
				href: "/forschung/kopisten/zu_bruckners_lebenszeiten",
				label: t("KopistenNav.links.duration"),
			},
		],
	},
	{ kind: "link", href: "/forschung/kopisten/suche", label: t("KopistenNav.links.search") },
	{
		kind: "link",
		href: "/forschung/kopisten/handschriftenvergleich",
		label: t("KopistenNav.links.compare"),
	},
];
---

<Nav class="mb-4 pb-2" label={t("KopistenNav.nav")}>
	<ul class="-mx-4 flex gap-x-2 font-medium text-[#555]" role="list">
		{
			links.map((link) => {
				switch (link.kind) {
					case "link": {
						return (
							<li>
								<NavMenuLink href={link.href} reload={link.reload}>
									{link.label}
								</NavMenuLink>
							</li>
						);
					}

					case "menu": {
						return (
							<li>
								<NavMenu>
									<NavMenuTrigger>{link.label}</NavMenuTrigger>
									<NavMenuPopover>
										<ul role="list">
											{link.children.map((link) => {
												return (
													<li>
														<NavMenuItem href={link.href}>{link.label}</NavMenuItem>
													</li>
												);
											})}
										</ul>
									</NavMenuPopover>
								</NavMenu>
							</li>
						);
					}

					default: {
						return null;
					}
				}
			})
		}
	</ul>
</Nav>
