---
import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { processMdx } from "@/lib/content/mdx";
import { reader } from "@/lib/content/reader";

export async function getStaticPaths() {
	const _pages = await reader().collections.pages.all();

	const pages = _pages.filter((page) => {
		return (
			!page.slug.startsWith("lexikon/") &&
			!page.slug.startsWith("forschung/kopisten/") &&
			page.slug !== "kontakt"
		);
	});

	return pages.flatMap((page) => {
		return { params: { id: page.slug }, props: { page: page.entry } };
	});
}

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;

const { page } = Astro.props;

const documentTitle = page.title;
const { title, image } = page;
const tablesStriped = page["tables-striped"];
const classes = `leading-7 ${tablesStriped ? "tables-striped" : undefined}`;

const { default: Content } = await processMdx(await page.content(), locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageSection variant="full-height">
			<PageCard image={image}>
				<PageTitle>{title}</PageTitle>
				<div class={classes}>
					<Content />
				</div>
			</PageCard>
		</PageSection>
	</MainContent>
</PageLayout>
