---
import { assert, createUrl, log, request } from "@acdh-oeaw/lib";

import { defaultLocale, type Locale } from "@/config/i18n.config";
import LexiconLayout from "@/layouts/lexicon-layout.astro";
import PageLayout from "@/layouts/page-layout.astro";
import { reader } from "@/lib/content/reader";
import { createI18n } from "@/lib/i18n";
import { baseUrl } from "@/lib/lexicon";

export const prerender = false;

const { id } = Astro.params;
assert(id, "Missing id.");

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;
const { t } = await createI18n(locale);

const page = await reader().collections.pages.readOrThrow("lexikon/werke");

const documentTitle = page.title;
const { title } = page;

async function api(): Promise<{ data: null; error: string } | { data: string; error: null }> {
	const url = createUrl({
		baseUrl,

		pathname: `/article/${id!}`,
	});

	try {
		const data = (await request(url, { responseType: "text" })) as string;
		return { data, error: null };
	} catch (error) {
		log.error(error);
		return { data: null, error: t("SearchResults.error") };
	}
}

const { data, error } = await api();
---

<PageLayout locale={locale} title={documentTitle}>
	<LexiconLayout title={title}>
		{error == null ? <div class="prose" set:html={data} /> : <div>{error}</div>}
	</LexiconLayout>
</PageLayout>
